@import "tailwindcss";

:root {
  font-family: "Roboto", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colors */
  /*Primary*/

  --red: hsl(4, 100%, 67%);

  /*Neutral*/

  --blue: hsl(234, 29%, 20%);
  --blue-light: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
}

body {
  box-sizing: border-box;
  font-size: clamp(0.8em, 0.8em + 4vw, 3em);
  background-color: var(--blue-light);
}

p {
  font-size: 1rem;
}

@theme {
  --animate-fade-in-scale: fadeIn 0.5s ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.75);
    }

    to {
      opacity: 100;
      transform: scale(1);
    }
  }
}

.popup::after {
  content: "";
  position: absolute;
  left: 45%;
  bottom: -20px;
  border: solid 10px transparent;
  border-top-color: var(--gray-dark);
  z-index: 0;
}
